body {
  margin: 0;
  padding: 0;

  background: url("/images/fon.jpeg") no-repeat center center fixed;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  max-width: 1120px;
  margin: 0 auto;

  flex-grow: 1;
  width: 100%;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
}

section {
  margin: 100px auto 0;

  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: justify;
}

h2 {
  text-align: center;
}

p {
  text-indent: 20px;
}

.goal {
  margin-bottom: 80px;
}




@media (min-width: 2200px) {

  main {
    max-width: 1500px;
    font-size: 25px;
  }

  section {
    max-width: 800px;
  }
  
  h2 {
    font-size: 35px;
  }
  
  p {
    font-size: 28px;
  }

}

@media (min-width: 3200px) {

  main {
    max-width: 2000px;
    font-size: 30px;
  }

  section {
    max-width: 1000px;
  }
  
  h2 {
    font-size: 45px;
  }
  
  p {
    font-size: 32px;
  }

}

@media (min-width: 4200px) {

  main {
    max-width: 3000px;
    font-size: 35px;
  }

  section {
    max-width: 1400px;
  }
  
  h2 {
    font-size: 60px;
  }
  
  p {
    font-size: 40px;
  }

}

@media (min-width: 5200px) {

  main {
    max-width: 4000px;
    font-size: 50px;
  }

  section {
    max-width: 2200px;
    padding: 100px;
  }
  
  h2 {
    font-size: 100px;
  }
  
  p {
    font-size: 70px;
  }

}