<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Добавить рецепт</title>

    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />

    <link rel="icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/add-recipe.css" />
    <link rel="stylesheet" href="/css/fix.css" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>

<%- include('header.ejs') %>

<div class="main-content">
<main>
    <div class="glass-container">
        <h1>Добавление рецепта</h1>
        <form action="#" method="post"  enctype="multipart/form-data">
            <div class="form-form-input-group name">
                <label for="name" hidden="hidden">Название</label>
                <input type="text" id="name" name="name" required placeholder="Введите название"/>
            </div>
            <img src="image/other/no_photo.jpg" alt="Фото рецепта" id="image">
            <div class="form-form-input-group input-img">
                <label for="photo">Выберите фотографию для рецепта:</label>
                <input type="file" id="photo" name="photo" accept="image/*">
            </div>
            <p class="block-name">Ингредиенты</p>
            <ul>
            </ul>
            <div class="form-input-group input-add">
                <label for="ing" hidden="hidden">Ингредиент</label>
                <input type="text" id="ing" name="ing" value=""  placeholder="Введите ингредиент"/>
            </div>
            <button type="button" class="add-btn add-ing">Добавить ингредиент</button>
            <p class="block-name">Приготовление</p>
            <ol>
                <li>
                    <input type="text" value="Пожарить - 30 минут"/>
                    <img src="image/other/close-circle.png" alt="img">
                </li>
            </ol>
            <div class="form-input-group  input-add">
                <label for="step" hidden="hidden">Шаг</label>
                <input type="text" id="step" name="step" placeholder="Введите шаг приготовления"/>
            </div>

            <button type="button" class="add-btn add-step">Добавить шаг приготовления</button>

            <button type="submit" class="submit-button">Добавить рецепт</button>
        </form>
    </div>
</main>
</div>
<%- include('footer.ejs') %>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/js/recipe/addPhoto.js"></script>
<script src="/js/recipe/addIng.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/form/addRecipe.js"></script>
</body>
</html>
