<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Авторизация</title>
    <link rel="icon" href="#" type="image/x-icon" />
    <link rel="stylesheet" href="/css/auth.css" />
    <link rel="stylesheet" href="/css/fix.css" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
</head>
<body>
<div class="login-container">
    <div class="glass-container">
        <h2>Вход</h2>
        <form action="#" method="get">
            <div class="input-group">
                <label for="username">Email или логин</label>
                <input type="text" id="username" name="username" required />
            </div>
            <div class="input-group">
                <label for="password">Пароль</label>
                <input type="password" id="password" name="password" required />
            </div>
            <button type="submit">Войти</button>
        </form>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/form/login.js"></script>
</body>
</html>
