<footer class="mt-5 p-4 text-center" style="background-color: #d9cbbf">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">EASY COOK</h5>

                <ul class="list-unstyled">
                    <li><a href="https://t.me/itisdanill" class="text-dark">Разработчики</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="text-center p-1" style="background-color: #d9b89c">
        © 2023 Copyright:
        <a class="text-dark" href="#">easy2cook.ru</a>
    </div>
</footer>